* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(9, 9, 72);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  color: rgba(230, 230, 250, 0.654);
  font-size: 1.0rem;
  
}


.left {
  font-size: 1.5rem;
}

.first-section {
  display: flex;
  justify-content: space-around;
  margin: 65px 0;
  align-items: center;
}

.left-section {
  font-size: 2.5rem;
}

.right-section img {
  width: 80%;
}

.first-section > div {
  width: 35%;
}

.purple {
  color: rgb(159, 91, 223);
  
}

.gray{
  color: gray;
}

#element{
  color: rgb(159, 91, 223);
}

main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 30px 80px;
}

.second-section{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.second-section h1{
  font-size: 1.9rem;
}

.second-section .box{
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.second-section .vertical{
  background: white;
  height: 90px;
  width: 1px;
  margin: 0 100px;
}

.vertical img{
  width: 40px;
  position: relative;
  top: -45px;
  left: -5px;
}

.vertical .title{
  position: relative;
  margin: 25px 0px 15px 5px;
  width:150px;
}

.vertical .vertical-decs{
  width: 120px;
  font-size:0.8rem;
  color: gray;
 
}

